header.header
  .header__column
    h1
      a(href=routes.home)
        i.fab.fa-youtube
        | #{siteName}
  .header__column
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search by term..." name="term")
      button(type="submit")
        i.fas.fa-search
  .header__column
    if user.isAuthenticated
      ul
        li
          a(href=routes.join) join
        li
          a(href=routes.login) login
    else
      ul
        li
          a(href=`/videos${routes.upload}`) upload
        li
          a(href=routes.userDetail(user.id)) profile
        li
          a(href=routes.logout) log out