header.header
  .header__column
    h1.header__title
      a(href=routes.home)
        i.fab.fa-youtube
        | #{siteName}
  .header__column
    form(action=routes.search, method="get")
      input.search__box(type="text", placeholder="검색" name="term")
      button.search__button(type="submit")
        i.fas.fa-search
  .header__column
    ul
      if !loggedUser
        li
          a(href=routes.login) Sign in
        li
          a(href=routes.join) Sign Up
      else
        li
          a(href=`/videos${routes.upload}`) upload
        li
          a(href=routes.me) profile
        li
          a(href=routes.logout) log out