extends layouts/main

block content
  .form__container
    h2.form__title Create your account
    form.form(action=routes.join, method="post")
      label.label(for="userName") Username
      input.input(type="text", id="userName", name="userName", required=true)
      label.label(for="email") Email
      input.input(type="email", id="email", name="email", required=true)
      label.label(for="password") Password
      input.input(type="password", id="password", name="password", required=true)
      label.label(for="verify password") Verify Password
      input.input(type="password", id="verify password", name="password2", required=true)
      button.submit__btn(type="submit") Sign up
    include ./components/socialLogin