extends layouts/main
include mixins/videoPlayer

block content
  .video__container
    .video__wrap
      .video__player
        +videoPlayer(video)
      .video__edit
        if loggedUser && video.creator.id === loggedUser.id
          a.video__edit--btn(href=routes.editVideo(video.id)) Edit Video
      .video__info
        h2.video__title=video.title
        strong.video__views 조회수 #{video.views}회
        a.video__creator(href=routes.userDetail(video.creator.id))
          img.user__img(src=video.creator.avatarUrl)
          strong=video.creator.name
        p.video__description=video.description
      .video__comments
        div.comment__number--wrap 댓글
          strong.video__comments--number=video.comments.length
          |개
        form.comment__form
          input.input(type="text", placeholder="댓글 추가하기")
          button.button.reset(type="reset") 취소
          button.button.add(type="submit") 추가
        ul.comment__list
          each comment in video.comments
            li.comment__list--item
              each user in users
                if comment.creator == user.id
                  div.comment__wrap
                    a(href=routes.userDetail(user.id))
                      img.user__img(src=user.avatarUrl)
                    div
                      a(href=routes.userDetail(user.id))
                        span=user.name
                      p=comment.text
                  -break
              