extends layouts/main

block content
  .video__container
    .video_wrap
      .video__player
        video(src=`/${video.fileUrl}`, controls=true)
      .video__edit
        if loggedUser && video.creator.id === loggedUser.id
          a.video__edit--btn(href=routes.editVideo(video.id)) Edit Video
      .video__info
        h2.video__title=video.title
        a.video__creator(href=routes.userDetail(video.creator.id))=video.creator.name
        strong.video__views 조회수 #{video.views}
        p.video__description=video.description
      .video__comments
        if video.comments.length === 1
          strong.video__comments--number 1 comment
        else
          strong.video__comments--number #{video.comments.length} comments