mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.video__thumnail(src=video.fileUrl, controls=true)
      h2.video__title=video.title
      p.video__description=video.description
      strong.video__views=video.views